<html ng-app="myApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.js"></script>
</head>
<body>

<header id="header">
				<a class="logo" href="index.html">Industrious</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
		
			<nav id="menu">
				<ul class="links">
				    <li><a href="#!home">Home</a></li>
					<li><a href="#!Login">Login</a></li>
					<li><a href="#!signin">SignIn</a></li>
					<li><a href="#!Contact">Contact</a></li>
					<li><a href="#!About">About</a></li>
				
			
			
			   <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">BLOG<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#!addblog">BLOG</a>
          <li><a href="#!manageBlog">MANAGE BLOG</a>
          <li><a href="#!showBlog">SHOW BLOG</a>
          </ul>
          </li>
          
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">JOB<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#!Publish">PUBLISH JOB</a>
           <li><a href="#!showJobs">SHOW JOBS</a>
          </ul>
          </li>
          
          <li><a href="#!friend">FRIENDS</a></li>
      <li><a href="#!updatePic">UPDATE PICTURE</a></li>
      
      <li><span ng-controller="UserController"><a href="#!UpdateProfile" ng-click="editUser()">Profile Update</a></span></li>
      <li><a href="#!chat">CHAT</a></li>
      </ul>
      
        <div class="nav navbar-nav navbar-right" ng-hide="currentUser==undefined">
    <font color="white" face="calibri" size="2">
                WELCOME
                <img src="http://localhost:8080/ConnectPeopleMiddle/getImage/{{currentUser.username}}" width="20" height="20">
                 {{currentUser.name}}
    </font>
    <span ng-controller="UserController">
    <a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span></a>
    </span>
    
    </div>
</nav>

<div ng-view></div>
<section id="banner">
				<div class="inner">
					<h1>Industrious</h1>
					<p>A responsive business oriented template with a video background<br />
					designed by <a href="https://templated.co/">TEMPLATED</a> and released under the Creative Commons License.</p>
				</div>
				
			</section>


<script src="RouterConfig.js"></script>
<script src="c_blog/BlogController.js"></script>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
</body>
</html>